# Ignorar todo en node_modules
node_modules/

# Incluir la carpeta específica
!node_modules/@builderbot

# Otros archivos y carpetas que quieres ignorar
.env
*.log
*.png
*_sessions
dist/*
bot_sessions
credentials.json
